<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Blog</title>
</head>


<body>
    <header class="header center">
        <div class="header_logo">
            <img class="header_logo_img" src="img/Logo.svg" alt="logo">
            <h2 class="header_logo_title">Interno</h2>
        </div>
        <div class="header_menubar">
            <a class="header_menubar_link" href="index.html">Home</a>
            <a class="header_menubar_link" href="#">Project</a>
            <a class="header_menubar_link" href="blog.html">Blog</a>
        </div>
    </header>

    <div class="banner">
        <img class="banner_image" src="img/Banner.jpg" alt="banner">
        <div class="banner_box-for-text">
            <h2 class="banner_title">Articles & News</h2>
            <div class="banner_text-block">
                 <a href="index.html" class="banner_text">Home</a><p class="banner_text"> / Blog</p>
            </div>
           
        </div>
    
    </div>

    <article class="latest-news center">
        <h2 class="latest-news_title">Latest Post</h2>
        <div class="latest-news_box">
            <img src="img/LatestPost.jpg" alt="LatestPost">
            <div class="latest-news_box-for-text">
                <h3 class="latest-news_box-for-text_title">Low Cost Latest Invented Interior Designing Ideas</h3>
                <p class="latest-news_box-for-text_text">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpis dignissim maximus.posuere in.Contrary to popular belief.</p>
                <p class="latest-news_box-for-text_text">Lorem Ipsum is not simply random text. It has roots in a piece of classica.</p>
                <div class="latest-news_date-button">
                    <p class="latest-news_date-button_date">25 December,2022 </p>
                    <div class="latest-news_date-button_button"><svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.77142 14.9527L7.71428 8.267L1.77142 1.58128" stroke="#292F36" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <section class="article center">
        <h2 class="article_header">Articles & News</h2>

        <div class="article_items">
           <div v-for="(article, index) in articles" v-if="index < 6" class="article_box">
                <img class="article_box_image" :src="'img/' + article.image" alt="article.image">
                <div class="article_box_button">{{article.imgText}}</div>
                <h2 class="article_box_title">{{article.itemTitle}}</h2>


                <div class="article_box_date-button">
                    <p class="article_box_date-button_date">{{article.itemData}}</p>
                    <div class="article_box_date-button_button"><svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.77142 14.9527L7.71428 8.267L1.77142 1.58128" stroke="#292F36" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
              </div>
           </div>
  
        </div>

     </section>

    <div class="pagination center">
        <div class="pagination_box">
            <div class="pagination_button">01</div>
            <div class="pagination_button">02</div>
            <div class="pagination_button">03</div>
            <div class="pagination_button"><svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.55714 15L7.5 8.31429L1.55714 1.62857" stroke="#292F36" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
        </div>

    </div>

    <footer class="footer center">
        <div class="footer_interno">
            <div class="header_logo">
                <img src="img/Logo.svg" alt="Logo">
                <h1 class="header_logo_title">Interno</h1>
            </div>
            <p class="footer_logo_text">It is a long established fact that a reader will be distracted lookings.</p>
            <div class="footer_icons">
                <img class="footer_icon_twitter" src="img/twitter.svg" alt="twitter">
                <img class="footer_icon_in" src="img/in.svg" alt="in">
            </div>
        </div>
        <div class="footer_pages">
            <h3 class="footer_pages_title">Pages</h3>
            <a class="footer_menubar_link" href="index.html">Home</a>
            <a class="footer_menubar_link" href="#">Project</a>
            <a class="footer_menubar_link" href="blog.html">Blog</a>
        </div>
        <div class="footer_contacts">
            <h3 class="footer_pages_title">Contact</h3>
            <p class="footer_contacts_text">55 East Birchwood Ave. Brooklyn, New York 11201</p>
            <p class="footer_contacts_text">contact@interno.com</p>
            <p class="footer_contacts_text">(123) 456 - 7890</p>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="scripts/script.js"></script>

</body>

</html>